* {
    box-sizing: border-box;
}
header, footer {
    height: 10vh;
    background-color: lightcoral
}
main {
    height: 80vh;
    display: flex;
}
nav, aside {
    width: 20%;
    padding: 15px;
    background-color: lightgrey;
}
article {
    width: 60%;
    padding: 15px;
    background-color: lightcyan;
}

body {
    margin: 0;
}
.container {
    display: flex;
    column-gap: 30px;
    /* gap column-gap
    row-gap */
}

.flex-item.left {
    width: 70%;
}
.field {
    display: flex;
    margin-bottom: 5px;
}
.field label {
    flex: 1;

}
    /* flex-grow
    flex-shrink
    flex-basis */

 .field input {
    flex: 2;
    padding: 5px;
 }   
.flex-item.right {
    width: 30%;
}
.btn-container {
    text-align: center;
    margin-top: 20px;
    maf
}
input[type="submit"] {
    border: 0;
    padding: 10px;
    background-color: lightseagreen;
    border-radius: 20%;
}
input[type="submit"]:hover {
    cursor: pointer;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    height: 100%;
}